DB_PASSWORD=scegli_una_password_sicura

NOTIFICATION_TO=hr@azienda.it,manager@azienda.it
NOTIFICATION_FROM=needs-manager@azienda.it
SMTP_HOST=smtp.azienda.it
SMTP_TLS_SERVERNAME=smtp.azienda.it
SMTP_PORT=587
SMTP_SECURE=false
SMTP_STARTTLS=true
SMTP_USER=needs-manager@azienda.it
SMTP_PASS=password-smtp
